[Unit]
Description=Vérification quotidienne des mises à jour ARCenal

[Timer]
OnCalendar=*-*-* 03:17:00
RandomizedDelaySec=45m
Persistent=true

[Install]
WantedBy=timers.target
